body {
  color: #203239;
  text-align: center;
}
.column {
  float: left;
  width: 33.3%;
}
@media screen and (max-width: 300px) {
  .column {
    width: 100%;
  }
}
img {
  max-width: 750px;
  max-height: 250px;
}
