body {
  color: #203239;
  background-color: black;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
.selector-for-some-widget {
  box-sizing: content-box;
}
.header {
  background-image: url(file:///home/benie/Downloads/black-2121741_1280.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 30%;
}
img {
  padding-top: 2%;
  max-width: 750px;
  max-height: 250px;
}

.card:hover .card-img-top {
  opacity: 0.9;

}
.card:hover .card-body {
  opacity: 0.75;
}
.card-title {
  border: 3px solid yellow;
  background-color: black;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px;
}

.card-img-top {
  padding-right: 5%;

}

.card-group {
  background-color: black;
  padding-bottom: 5%
}
.important {
  padding-top: 0%;
  padding-bottom: 5%;
}

.row-about-me {
  padding-bottom: 40%;
  padding-top: 10%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.section-3 {
  background-image: url(../img/comp.jpg);
  background-position: center;
  background-size:auto;
  background-repeat: no-repeat;
}
